@font-face {
  font-family: "Luckiest Guy";
  src: url(luckiestguy.ttf) format("truetype");
}
.App {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow: auto;
}
