.InformationContainer {
    position: relative;
    display: inline-block;
}

.InformationText {
    position: absolute;
    top: 40%;
    left: 10%;
    transform: translateY(-50%);
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    font-family: "Luckiest Guy";
}
.InformationDescription {
    position: absolute;
    top: 60%;
    left: 10%;
    transform: translateY(-50%);
    font-size: 14px;
    color: lightgray;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    font-family: "Luckiest Guy";
}
.FormContainer {
    position: relative;
}

.FormBackground {
    position: absolute;
    top: 0;
    left: 5%;
    z-index: -1;
}

.FormBackground img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
}

.TextFieldContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Dodane */
}


.TextField {
    width: calc(100% - 40px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: black;
    outline: none;
    margin-left: 30px;
    font-family: "Luckiest Guy";
}

.SubmitButton {
    margin-left: 140px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.SubmitButton:hover {
    filter: brightness(130%);
}
.CharacterItem {
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    margin-bottom: 10px;
}
.CharacterItem:hover {
    background-color: grey;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.CharacterItemContent {
    display: flex;
    align-items: center;
}

.CharacterItemName {
    margin-left: 2px; /* dostosuj margines zgodnie z preferencjami */
    font-family: "Luckiest Guy";
    color: white;
}
.CharacterItemImage {
    width: 50px; /* Dostosuj szerokość zgodnie z preferencjami */
    height: auto; /* Utrzymaj proporcje obrazka */
    margin-right: 10px; /* Dostosuj margines zgodnie z preferencjami */
}
.CharacterListBackground {
    background-color: #471AA0;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}
.PlayAgainButton{
    background-color: #471AA0;
    border: 3px solid #fcf425;
    padding: 10px;
    border-radius: 5px;
    font-family: "Luckiest Guy";
    color: white;
}
.PlayAgainButton:hover {
    transform: scale(1.04);
}
.InfoSquaresContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: auto;
}

.InfoSquare{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.InfoSquareRed  {
    background-color: #ff0000;
}

.InfoSquareGreen  {
    background-color: #00ff00;
}

.InfoSquareValue {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.GuessImage {
    width: 90px;
    height: 90px;
}
.Register {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
}
.Register:hover {
    transform: scale(1.30);
    transition: transform 0.3s ease;
}
.AttemptsCounter{
    font-family: "Luckiest Guy";
    color: #471aa0;
    font-size: 24px;
}
.Hint{
    font-family: "Luckiest Guy";
    color: #471aa0;
    font-size: 16px;
}