.Background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/background.png');
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
}


.Logo {
    width: 500px;
    height: 300px;
    margin-top: 20px;
}
.Logo:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
.GamePannelContainer {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.GamePannelContainer:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.GamePannelText {
    position: absolute;
    top: 40%;
    left: 32%;
    transform: translateY(-50%);
    font-size: 24px;
    color: #471AA0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    font-family: "Luckiest Guy";
}
.GamePannelDescription {
    position: absolute;
    top: 70%;
    left: 32%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #471AA0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    font-family: "Luckiest Guy";
}
.Register {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
}
.Register:hover {
    transform: scale(1.30);
    transition: transform 0.3s ease;
}
.Logout{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 200px;
    height: 40px;
    border: #471AA0 2px solid;
    background-color: #fcf425;
    color: #471AA0;
    font-family: "Luckiest Guy";
}
.Logout:hover {
    transform: scale(1.10);
    transition: transform 0.3s ease;
}
.UserName {
    position: fixed;
    top: 20px;
    right: 250px;
    width: 200px;
    height: 40px;
    border: #471AA0 2px solid;
    background-color: #fcf425;
    color: #471AA0;
    font-family: "Luckiest Guy";
}
.UserName:hover {
    transform: scale(1.10);
    transition: transform 0.3s ease;
}
.Menu {
    position: absolute;
    top: 70px; /* Dystans od góry */
    right: 250px;
    width: 175px;
    border: #471AA0 2px solid;
    background-color: #fcf425;
    color: #471AA0;
    font-family: "Luckiest Guy";
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.MenuItem {
    padding: 5px;
    cursor: pointer;
    border: #471AA0 2px solid;
    background-color: #fcf425;
    color: #471AA0;
    font-family: "Luckiest Guy";
}

.YourPoints {
    margin-top: 10px;
    padding: 5px;
    border: #471AA0 2px solid;
    background-color: #fcf425;
    color: #471AA0;
    font-family: "Luckiest Guy";

}
.BarLook {
    position: static;
    top: 0;
    left: 400px;
    width: 100px;
    height: 20px;
    background-color: #ccc;
}

.BarProgress {
    height: 100%;
    background-color: #4caf50;
}
.ProgressTitle{
    position: static;
    top: 0;
    right: 660px;
    height: 20px;
    z-index: 999;
    margin-top: 20px;
}
.LevelContainer {
    position: fixed;
    top: -18px;
    left: 48%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 999;
    padding: 0;
}
footer{
    font-size: 14px;
    margin-top: 80px;
    color: #471aa0;
    text-align: center;
}
.Social{
    width: 80px;
    height: 70px;
    margin-right: 80px;
    margin-top: 160px;
}
.Social:hover{
    transform: scale(1.10);
    transition: transform 0.3s ease;
}
.RulesButton{
    position:fixed;
    right:5%;
    top:20%;
}
.RulesPanel{
    border: #fcf425 5px solid;
    background-color: #471aa0;
    color: white;
    max-width: 250px;
}

